/* место для вашего кода */
ul, li {
  margin: 0;
  padding: 0;
}

.header {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: white;
  padding-left: 45px;
  padding-right: 49px;
} 

.info_header {
  padding-right: 10px;
}

.info_header_list {
  padding: 0;
  margin: 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 30px; 
  padding-top: 3px;  
  padding-right: 8px;
}

.info_header_list  li {
 list-style: circle;
 padding-left: 4px;
}

.info_header_list li.list_main {
  list-style-type: none; 
}

.info_header_list  a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.info_header_list a.no_underline {
  text-decoration: none;
  border-bottom: none;
}

.logo img {
  max-width: 148px;
  max-height: 105px;
  display: block;
}

.logo {
  margin-top: 92px;
  margin-bottom: 85px;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  padding-top: 8px;
  line-height: 25px;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 21px;
}

.cover {
  position: relative;
  width: 100%;
  max-width: 1100px;
  min-height: 757px;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("../images/cover.jpg");
  background-size: auto 100%;
  background-position: center;
  margin-top: 6px; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.cover_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
  padding-top: 165px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  gap: 17px;
}

.block_left {
  padding-left: 50px;
  align-self: flex-start;
}

.block_central {
  align-self: center;
  padding-left: 28px;
}

.block_right {
  align-self: flex-end;
  padding-right: 19px;
}

.description_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 100px; 
  padding-top: 109px;
  z-index: 3; 
  margin-top: -5px;
  margin-left: -2px;
}

.description {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 19px;
  z-index: 3;
}

.place_a_bet {
  z-index: 3;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 3px;
  background-color: transparent;
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 11px;
  padding-top: 11px;
}

.lots {
  width: 1052px;
  margin: 0 auto;
}

.title_lots {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  margin-top: 180px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.cards_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card_item {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card_link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_article {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card_item_left {
  background-image: url("../images/card-lot-01.jpg");
}

.card_item_central {
  background-image: url("../images/card-lot-02.jpg");
}

.card_item_right {
  background-image: url("../images/card-lot-03.jpg");
}

.card_article h3 {
  margin: 0;
  z-index: 2;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  align-self: flex-start; 
  padding-top: 2px;
}

.card_article p {
  margin: 0;
  z-index: 2;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: auto;
  line-height: 24px;
}

.more {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  margin-left: 40px;
  margin-bottom: 120px;
}

.more a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.about {
  margin-top: 120px;
  margin-bottom: 180px;
}

.columns {
  display: grid;
  grid-template-columns: 287px 1fr;
  margin: 0 auto;
  gap: 72px;
  max-width: 1052px;
}

.logo_container {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}

.logo_container img {
  width: 148px;
  height: 114px;
  display: block;
}

.title_about {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 100px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.paragraph p {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  white-space: pre-line;
}

.column_logo {
  padding-top: 35px;
}

.column_text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 136px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 1100px;
  padding-bottom: 85px;
}

.footer_address {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  margin-left: 50px;
  max-width: 250px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  line-height: 21px;
  font-size: 18px;
}

.social-medias {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  gap: 48px;
  margin: 0;
  margin-right: 50px;
}

.social-medias img {
  height: 48px;
  width: 48px;
}